<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error <%= message %></title>
    <link rel="stylesheet" href="/styles.css"> <!-- optional -->
</head>
<body>
   

    <main style="text-align:center; padding: 50px;">
        <h1>Oops! Something went wrong.</h1>
        <h2>Error: <%= message %></h2>
        <a href="/<%= user %>/login">Go back to Home</a>
    </main>
</body>
</html>
